# Appwrite URL Endpoint (Defaults to Appwrite Cloud: https://cloud.appwrite.io/v1)
VITE_APPWRITE_ENDPOINT=

# Appwrite Project ID
VITE_APPWRITE_PROJECT_ID=

# Appwrite Database, Collection and Service Schema IDs
VITE_APPWRITE_DATABASE_ID=
VITE_APPWRITE_COLLECTION_ID=
VITE_APPWRITE_USERS_COLLECTION_ID=
VITE_APPWRITE_BIDS_COLLECTION_ID=
